# Resource
*.png
*.tga
*.cso

# Project
.idea/
.vs/
*.DotSettings.user
out/
CMakeSettings.json
*.vcxproj.filters
*.vcxproj.user
*.nsight-gfxproj
*.cap

# Object & Linker
*.o
*.obj
*.elf
*.ilk
*.map
*.exp

# Libraries (Shared/Static)
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug
*.dSYM/
*.su
*.idb
*.pdb